<div class="guia">
  <div class="menu">
    
    <mat-accordion>

        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Implementación
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button class="btn">Identidad</button>
            <button mat-button class="btn">Instalación</button>

    
        
    
          </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Componentes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button class="btn">Botones</button>
        <button mat-button class="btn">Formularios</button>

    

      </mat-expansion-panel>

      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Temas
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button class="btn">Implementación</button>
        <button mat-button class="btn">Temas FCE</button>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

  <div class="contenido">
      <router-outlet></router-outlet>
  </div>

</div>
